.contact {
    background: url('/img/photos/process.jpg');
    background-size: cover;
    padding: 2em;
    height: 90vh;
    
    h1 {
        color: $fgtomato;
    }

    p {
        color: white;
        text-align: center;
    }
}

.contact-form-container {
    width: 100%;
    max-width: 550px;
}

@media only screen and (max-height: 700px) {

    .contact {
        height: 100%;
        h1 {
            font-size: 2.5em;
        }
    }


}
