.btn {
    display: inline-block;
    transition: background-color 0.25s ease;
    margin: 1em 0;
    text-decoration: none;
    cursor: pointer;
}

.cta-button, .modal-button {
    font-family: $gastro;
    color: $fgnavy;
    background: $fgyellow;
    padding: 1em 2.5em .75em 2.5em;
    border: none;
}


.cta-button {
    font-size: 24px;
}

.cta-button:hover {
    background: $fggreen;
}

.modal-button {
    font-size: 16px;
}

.modal-button:hover {
    background: $fggreen;
}

.featured-blog-button {
    color: $fggrey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1em 2.5em;
    border: 1px solid white;
}

.featured-blog-button:hover {
    background: $fggreen;
}

@media only screen and (max-width: 415px) {
    .btn {
        font-size: 20px;
    }
}