{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<div class="blog-list-container flex-column">

    {{ range first 1 (where .Site.Pages.ByDate.Reverse "Params.featured" "true") }}

    <section class="featured-blog-container" style="background-image:url({{ .Params.grid_img }});">
        <div class="featured-blog-overlay flex-column">
            <div class="featured-blog">
                <h2 class="featured-blog-title">{{ .Title }}</h2>
                <p class="biggie">{{ .Params.summary }}</p>
                <a class="btn featured-blog-button" href="{{ .RelPermalink }}">Read More</a>
            </div>
        </div>
    </section>

    {{ end }}

    <section>
        {{ partial "form.html" . }}
    </section>


    <section class="blog-list">

        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
        {{ range .Paginator.Pages }}
            {{ if not (in .Params.featured "true" )}}

                <a href="{{ .RelPermalink }}">
                    <div class="blog-card-container" style="background-image:url({{ .Params.grid_img }});">
                        <div class="blog-card flex-column">
                            <p>{{ .Date.Format "01.02.06" }}</p>
                            <h2 class="blog-card-title">{{ .Title }}</h2>
                            <p>{{ .Params.subtitle }}</p>
                        </div>
                    </div>
                </a>
            {{ end }}
        {{ end }}

    </section>

    <!-- {{ template "_internal/pagination.html" . }} -->
    <!-- <div class="paginator-container">
        {{ partial "paginator.html" . }}
    </div> -->

</div>

{{ partial "footer.html" . }}