// Variables
$title: 'gastromond', sans-serif;
$body: 'Open Sans', sans-serif;
$fgorange: #DF6C58;
$fgnavy: #263963;
$fggreen: #50AA7B;
$fgyellow: #DFB045;
$fgpink: #ECAFB5;


// Loadout
@import 'partials/reset';
// @import 'partials/modernscale';
@import 'partials/typography';
@import 'partials/nav';
@import 'partials/hero';