<div class="contact-form-container">
    <form class="contact-form flex-column" id="contact-form" action="/thank-you" netlify-honeypot="honey" name="contact-form" method="POST" netlify>
        <div class="form-row">
            <input type="name" id="name" placeholder="NAME" name="user_name" required>
        </div>
        <div class="form-row">
            <input type="company" id="company" placeholder="COMPANY" name="user_company" required>
        </div>
        <div class="form-row">
            <input type="email" id="email" placeholder="EMAIL ADDRESS" name="user_email" required>
        </div>
        <div class="form-row">
            <textarea type="message" id="message" placeholder="MESSAGE" name="user_message" required></textarea>
        </div>
        <div class="form-row honey">
            <label for="honey">Don't fill this out if you're human</label>
            <input type="text" id="honey" name="honey"/>
        </div>
        <button type="submit" class="btn contact-button">Send</button>
    </form>
</div>
