<header class="flex-row">
    <div class="hero-container flex-row">
        <div>
            <figure data-depth="0.4">
                <img id="logo" src="/img/logos/fg-white.jpg" srcset="/img/logos/fg-white@2x.jpg 2x" alt="Forest Giant logo">
            </figure>
        </div>
        <div>
                <h1 data-depth="0.25">Innovate at the Speed of a Startup.</h1>
                <p data-depth="0.2" class="biggie"><strong>Forest Giant</strong> generates and validates innovative ideas that transform enterprise businesses.</p>
                {{ partial "cta-button.html" . }}
        </div>
    </div>
</header>