<footer>
    <p>© {{ now.Year }} Forest Giant<span> | </span>502.589.3800<span> |</span>
        <a href="https://twitter.com/forestgiant/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/forestgiant/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/forestgiantinc/"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/forestgiant/"><i class="fab fa-github"></i></a>
    </p>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script> 
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script src="/js/scrollHandler.js"></script>
<script src="//adpxl.co/QvpwZSuA/an.js"></script><noscript><img src="//adpxl.co/QvpwZSuA/spacer.gif" alt=""></noscript>
<!-- <script src="/js/yall-2.2.1.min.js"></script> -->
<!-- <script>document.addEventListener("DOMContentLoaded", yall);</script> -->
<script src="/js/script.js"></script>


</div>
</body>
</html>
