<footer>
    <p>© {{ now.Year }} Forest Giant LLC<span> | </span>502-589-3800<span> | </span>
        <a href="https://twitter.com/forestgiant/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/forestgiant/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/forestgiantinc/"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/forestgiant/"><i class="fab fa-github"></i></a>
    </p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/js/polyfills/stickyfill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script> 
<script src="/js/parallax.js"></script>  
<script src="/js/scrollHandler.js"></script>
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script src="//adpxl.co/QvpwZSuA/an.js"></script><noscript><img src="//adpxl.co/QvpwZSuA/spacer.gif" alt=""></noscript>

</div>
</body>
</html>
