<!DOCTYPE html>
<html>

<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PVZVXQ6');</script>
    <!-- End Google Tag Manager -->

    <title>{{ if .IsPage }}{{ .Params.meta_title }}{{ else if .IsNode }}{{ .Title }}{{ end }}</title>
    <meta name="description" content="Forest Giant generates and validates innovative ideas that transform enterprise businesses. Are you ready to craft the next big thing for your company?" />
    {{ if eq .Params.noindex "true" }}<meta name="robots" content="noindex, nofollow">{{ end }}
    {{ if eq .Params.relcanon "true"}}<link href="{{ .Params.relcanon_url }}" rel="canonical" />{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="google-site-verification" content="MpEWlZsDJjt_CWf0aT0WvDBY_H_gqpLlo6tecySFu1M" />

    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/iia4pra.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {{ $style := resources.Get "/css/main.scss" | toCSS }}
    {{ $sheet := $style | minify | fingerprint }}

    <link type="text/css" rel="stylesheet" href="{{ $sheet.RelPermalink }}" integrity="{{ $sheet.Data.Integrity }}" media="screen"/>
    

    <!-- Open Graph/Twitter -->
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ if .IsPage }}{{ .Params.meta_title }}{{ else if .IsNode }}{{ .Title }}{{ end }}" />
    <meta property="og:description" content="Forest Giant generates and validates innovative ideas that transform enterprise businesses." />
    <meta property="og:image" content="/img/social.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@forestgiant">
    <!-- End Open Graph/Twitter -->
    

</head>

<body>
  <div id="main">
  <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVZVXQ6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
