<div class="logoz flex-column">
    <div class="flex-row client-row-1">
        <div id="ge" class="logo"></div>
        <div id="irobot" class="logo"></div>
        <div id="bf" class="logo"></div>
        <div id="ups" class="logo"></div>
    </div>
    <div class="flex-row client-row-2">
        <div id="realtree" class="logo"></div>
        <div id="atria" class="logo"></div>
        <div id="lge" class="logo"></div>
        <div id="baf" class="logo"></div>
        <div id="fa" class="logo"></div>
    </div>
</div>