<div class="validation-container">
  <div class="column-1">
    <div id="text-set-01" class="title-text">
      <h6>Product Discovery & Validation</h6>
      <h1>Prove the best ideas.</h1>
      <h1>Kill the rest.</h1>
      <div class='divider'></div>
    </div>
    <div class="body-text-container">
      <div id="text-set-02" class="body-text">
        <h6>Plan & Vision</h6>
        <h3>Create informed ideas</h3>
        <h3>around a shared vision</h3>
        <span>
          <span>Discovery</span>
          <span>Ideation</span>
          <span>Strategy</span>
        </span>
      </div>
      <div id="text-set-03" class="body-text">
        <h6>Thing 3 & Thing 4</h6>
        <h3>A list for thing 3</h3>
        <h3>An item for thing 4</h3>
        <span>
          <span>Discovery</span>
          <span>Ideation</span>
          <span>Strategy</span>
        </span>
      </div>
      <div id="text-set-04" class="body-text">
        <h6>Plan & Vision</h6>
        <h3>Create informed ideas</h3>
        <h3>around a shared vision</h3>
        <span>
          <span>Discovery</span>
          <span>Ideation</span>
          <span>Strategy</span>
        </span>
      </div>
    </div>
  </div>
  <div class="column-2">
    <div id="image-set-01" class="image-wrapper world-with-first-pieces"> 
      <img id="people" src="img/people.png"/>
      <img id="rays" src="img/rays.png"/>
      <img id="globe" src="img/sphereBase.png"/>
      <img src="img/sphereBaseShade.png"/>
      <img class="globe-shadow" src="img/shadow.png"/>
      <img class="next-pieces" id="np1" src="img/pieces01.png"/>
      <img class="next-pieces" id="np2" src="img/pieces02.png"/>
      <img class="next-pieces" id="np3" src="img/pieces03.png"/>
      <img class="next-pieces" id="np4" src="img/pieces04.png"/>
      <img class="next-pieces" id="np5" src="img/pieces05.png"/>
      <img id="annotations" src="img/annotations.png"/>
      <img class="first-pieces" id="fp1" src="img/firstPieces01.png"/>
      <img class="first-pieces" id="fp2" src="img/firstPieces02.png"/>
      <img class="first-pieces" id="fp3" src="img/firstPieces03.png"/>
      <img class="first-pieces" id="fp4" src="img/firstPieces04.png"/>
      <img class="first-pieces" id="fp5" src="img/firstPieces05.png"/>
      <img class="first-pieces" id="fp6" src="img/firstPieces06.png"/>
      <img class="first-pieces" id="fp7" src="img/firstPieces07.png"/>
      <img class="first-pieces" id="fp8" src="img/firstPieces08.png"/>
    </div>
  </div>
</div>
