<nav id="nav" class="flex-row">

    <a href="/"><img id="logotype" src="/img/logotype.svg" alt="Forest Giant logotype"></a>
    <ul id="menu" class="flex-row">
        <!-- <li><a href="/">Business Types</a></li> -->
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://forestgiant.com/" target="_blank">ForestGiant.com</a></li>
        <!-- <li id="nav-cta" class="btn sticky nav-cta"><a href="">Learn More</a></li> -->
    </ul>

    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button> -->
    
</nav>