<section id="product" class="flex-column">
    <div class="maxed-out">
        <header class="product-intro">
            <h2>Product Discovery & Validation</h2>
            <p class="product-title">Prove the best ideas. </br>Kill the rest.</p>
        </header>

        <div class="product-grid flex-row">
            <div class="product-img">
                <div id="image-set-01" class="image-wrapper world-with-first-pieces"> 
                    <img id="people" src="img/validation/people.png" alt="illustration of five colorful heads"/>
                    <img id="globe" src="img/validation/sphereBase.png" alt="illustration of a multicolored globe"/>
                    <img src="img/validation/sphereBaseShade.png" alt="shading on the globe"/>
                    <img class="globe-shadow" src="img/validation/shadow.png" alt="shadow of the globe"/>
                    <img class="next-pieces pieces" id="np1" src="img/validation/pieces_02-01.png" />
                    <img class="next-pieces pieces" id="np2" src="img/validation/pieces_02-02.png" />
                    <img class="next-pieces pieces" id="np3" src="img/validation/pieces_02-03.png" />
                    <img class="next-pieces pieces" id="np4" src="img/validation/pieces_02-04.png" />
                    <img class="next-pieces pieces" id="np5" src="img/validation/pieces_02-05.png" /> 
                    <img class="first-pieces pieces" id="fp1" src="img/validation/pieces_01-01.png" />
                    <img class="first-pieces pieces" id="fp2" src="img/validation/pieces_01-02.png" />
                    <img class="first-pieces pieces" id="fp3" src="img/validation/pieces_01-03.png" />
                    <img class="first-pieces pieces" id="fp4" src="img/validation/pieces_01-04.png" />
                    <img class="first-pieces pieces" id="fp5" src="img/validation/pieces_01-05.png" />
                    <img class="first-pieces pieces" id="fp6" src="img/validation/pieces_01-06.png" />
                    <img class="first-pieces pieces" id="fp7" src="img/validation/pieces_01-07.png" />
                    <img class="first-pieces pieces" id="fp8" src="img/validation/pieces_01-08.png" />
                  </div>
            </div>
            <div class="product-text flex-column">
                <h6>Plan & Vision</h6>
                <p class="prodp">Create informed ideas around a shared vision.</p>
                <p class="prod-dot biggie">Discovery <span>•</span> Ideation <span>•</span> Strategy</p>
            </div>
            <div class="product-text flex-column">
                <h6>Validate</h6>
                <p class="prodp">Find out what's working. Improve what's not.</p>
                <p class="prod-dot biggie">Prototyping <span>•</span> Testing <span>•</span> Iteration</p>
            </div>
            <div class="product-img">
                <img src="/img/illustrations/sphere02.jpg" srcset="/img/illustrations/sphere02@2x.jpg 2x" alt="illustrated, multicolored globe with handwritten annoations">
            </div>
            <div class="product-img">
                <img src="/img/illustrations/sphere03.jpg" srcset="/img/illustrations/sphere03@2x.jpg 2x" alt="illustrated, multicolored globe with rays emitting around the sphere">
            </div>
            <div class="product-text flex-column">
                <h6>Decide</h6>
                <p class="prodp">Understand the value, risk, and reward.</p>
                <p class="prod-dot biggie">Improve <span>•</span> Roadmap MVP<span>•</span> Pivot</p>
            </div>
        </div>
    </div>
</section>