<section id="product" class="flex-column">
    <div class="maxed-out">
        <header class="product-intro">
            <h2>Product Discovery & Validation</h2>
            <p class="product-title">Prove the best ideas. </br>Kill the rest.</p>
        </header>

        <div class="product-grid flex-row">
            <div class="product-img">
                <img class="lazy" data-src="/img/illustrations/sphere01.jpg" data-srcset="/img/illustrations/sphere01@2x.jpg 2x" alt="illustrated, multicolored globe with characters surrounding it">
            </div>
            <div class="product-text flex-column">
                <h6>Plan & Vision</h6>
                <p class="prodp">Create informed ideas around a shared vision.</p>
                <p class="prod-dot biggie">Discovery <span>•</span> Ideation <span>•</span> Strategy</p>
            </div>
            <div class="product-text flex-column">
                <h6>Validate</h6>
                <p class="prodp">Find out what's working. Improve what's not.</p>
                <p class="prod-dot biggie">Prototyping <span>•</span> Testing <span>•</span> Iteration</p>
            </div>
            <div class="product-img">
                <img class="lazy" data-src="/img/illustrations/sphere02.jpg" data-srcset="/img/illustrations/sphere02@2x.jpg 2x" alt="illustrated, multicolored globe with handwritten annoations">
            </div>
            <div class="product-img">
                <img class="lazy" data-src="/img/illustrations/sphere03.jpg" data-srcset="/img/illustrations/sphere03@2x.jpg 2x" alt="illustrated, multicolored globe with rays emitting around the sphere">
            </div>
            <div class="product-text flex-column">
                <h6>Decide</h6>
                <p class="prodp">Understand the value, risk, and reward.</p>
                <p class="prod-dot biggie">Improve <span>•</span> Roadmap MVP<span>•</span> Pivot</p>
            </div>
        </div>
    </div>
</section>