<section>

    <div id="product-header">
        <h3>Product Discovery & Validation</h3>
        <h2>Prove the best ideas. Kill the rest.</h2>
    </div>

    <div id="product-timeline">
        <div class="product-column" id="product-info">
            <div id="product-plan" class="product-slide-info">
                <p>Plan + Vision</p>
                <p>Create informed ideas around a shared vision.</p>
                <p>Discovery - Ideation - Strategy</p>
            </div>
            <div id="product-validate" class="product-slide-info">
                <p>Validate</p>
                <p>Find out what's working. Improve what's not.</p>
                <p>Prototyping - Testing - Iteration</p>
            </div>
            <div id="product-decide" class="product-slide-info">
                <p>Decide</p>
                <p>Every cycle we'll improve ideas, roadmap MVPs, or shift initiatives.</p>
            </div>
        </div>
        <div class="product-column" id="product-visuals">
            <div id="product-visual-frame">
                <img id="test" src="/img/product-people.png">
            </div>
        </div>
    </div>


    <!-- <div id="product-plan" class="product-slide">
        <div >
            <div class="product-slide-info">
                <p>Plan + Vision</p>
                <p>Create informed ideas around a shared vision.</p>
                <p>Discovery - Ideation - Strategy</p>
            </div>
        </div>
        <div>
            <img src="/img/product-people.png">
        </div>
    </div>

    <div id="product-validate" class="product-slide">
        <div>
            <div class="product-slide-info">
                <p>Validate</p>
                <p>Find out what's working. Improve what's not.</p>
                <p>Prototyping - Testing - Iteration</p>
            </div>
        </div>
        <div>
            <img src="/img/product-globe.png">
        </div>
    </div>

    <div id="product-decide" class="product-slide">
        <div>
            <div class="product-slide-info">
                <p>Decide</p>
                <p>Every cycle we'll improve ideas, roadmap MVPs, or shift initiatives.</p>
            </div>
        </div>
        <div>Visual</div>
    </div>    -->
    
</section>