<section id="transformation" class="flex-column">
    <div class="maxed-out">
        <div>
            <h2>Transformation that lasts.</h2>
            <p class="biggie">Regardless of where your organization stands with enterprise innovation, Forest Giant will meet you there. Our blended teams act as an extension of your team to share knowledge, solve problems, and provide the roadmap to make your innovation initiatives a success for years to come. </p>
        </div>
        <div class="flex-row">
            <div class="transformation-info flex-column">
                <img src="/img/illustrations/structure.jpg" srcset="/img/illustrations/structure@2x.jpg 2x" alt="illustrated hand grabbing a post-it note">
                <h3>Structure</h3>
                <p>Streamline internal discovery with proven, repeatable workshops and processes to get your team on track.</p>
            </div>
            <div class="transformation-info flex-column">
                <img src="/img/illustrations/support.jpg" srcset="/img/illustrations/support@2x.jpg 2x" alt="illustrated man in front of analytics chart">
                <h3>Support</h3>
                <p>Let us help you present your findings for company buy-in with data, decks, and case studies to prove your project.</p>
            </div>
            <div class="transformation-info flex-column">
                <img src="/img/illustrations/production.jpg" srcset="/img/illustrations/production@2x.jpg 2x" alt="illustrated woman programming on computer">
                <h3>Production</h3>
                <p>When you’re ready to bring your idea to life, Forest Giant can build your MVP or facilitate a handoff to another production team.</p>
            </div>
        </div>
    </div> 
</section>