<section class="wave wave-process flex-column plx-group" id="validation-end">
    <img class="plx-layer plx-depth4 full-height" src="/img/photos/process.jpg"/> 
    <div class="wave-top plx-group">
        <img class="mask" src="/img/wave-mask-top.png">
        <img class="line plx-layer plx-depth3-revY" src="/img/illustrations/line-a-pink.png">
        <img class="line plx-layer plx-depth2" src="/img/illustrations/line-a-blue.png">
    </div>
    <div class="wave-interior">
        <p class="thicc">Our process is human-centered and fueled by over a decade of experience crafting enterprise solutions.</p>
    </div>
    <div class="wave-bottom">
        <img class="mask" src="/img/wave-mask-bottom.png">
    </div>
</section>