<section class="wave wave-photo flex-column no-top-margin"> 
    <div class="wave-top">
        <img class="mask" src="/img/wave-mask-top.png"> 
        <!-- <img class="line" src="/img/illustrations/line-a-pink.png"/>
        <img class="line" src="/img/illustrations/line-a-green.png"> -->
    </div> 
</section> 
<img class="line parallax_layer parallax_layer--depth2" id="top-rd" src="/img/illustrations/line-a-pink.png"/>
<img class="line parallax_layer parallax_layer--depth3" id="top-gn" src="/img/illustrations/line-a-green.png">
<div class="wave-spacer"></div> 
<img class="hero-img parallax_layer parallax_layer--depth4" src="/img/photos/hero.jpg"/>
<div class="wave-bottom">
    <img class="mask" src="/img/wave-mask-bottom.png">
    <img class="line" src="/img/illustrations/line-a-green.png"> 
    <img class="line" src="/img/illustrations/line-b-pink.png"> 
</div> 
