<div class="wave wave-cta-mid flex-column">
    <div class="wave-top">
        <img class="mask" src="/img/wave-mask-top.png">
        <img class="line" src="/img/line-a.png">
        <img class="line" src="/img/line-a.png">
    </div>
    <div class="wave-interior flex-column">
        <h4>Let's work together to discover, prototype, and deploy the next big thing for your company. </h4>
        <a class="cta-button" href="/">Let's Chat</a>
    </div>
    <div class="wave-bottom">
        <img class="mask" src="/img/wave-mask-bottom.png">
        <img class="line" src="/img/line-a.png"> 
    </div>
</div>