<div class="sweep sweep-cta flex-column">
    <div class="sweep-top">
        <img src="/img/sweep-top.png">
        <img class="line" src="/img/sweep-line-green.png">
    </div>
    <div class="end-cta flex-row">
        <div>
            <h4>Innovate with Giants.</h4>
            <p>Schedule a 1-on-1 with Chris Wiedmar, VP of Business Development, to discuss how Forest Giant can help your organization.</p>
            <a class="cta-button" href="/">Let's Chat</a>
        </div>
        <div>
            <p><strong>Chris Wiedmar</strong></p>
            <p>VP of Business Development</p>
        </div>
    </div>
    <div class="sweep-bottom">
        <img src="/img/sweep-bottom.png">
        <img class="line" src="/img/sweep-line-pink.png"> 
    </div>
</div>