<div class="wave-cap wave-cta-end flex-column">
    <div class="wave-top">
        <img class="mask" src="/img/wave-mask-top.png">
        <img class="line" src="/img/illustrations/line-a-green.png">
        <img class="line" src="/img/illustrations/line-a-yellow.png">
    </div>
    <div class="wave-interior end-cta flex-row">
        <div>
            <h4>Innovate with Giants.</h4>
            <p>Schedule a 1-on-1 with CEO Chris Wiedmar to discuss how Forest Giant can help your organization.</p>
            {{ partial "cta-button.html" . }}
        </div>
        <div>
            <img class="lazy yallfade" src="/img/illustrations/chris.png" srcset="/img/illustrations/chris@2x.png 2x" alt="illustration of Chris Wiedmar"/>
            <p><strong>Chris Wiedmar</strong></p>
            <p>CEO of Forest Giant</p>
        </div>
    </div>
</div>

