<div class="wave-container" >
    <!--
        Just a quick note: I'm basing the starting position of the validation
        animation sequence off the container element here that includes height
        for all of the content (below, the <div> with an id of 'validation-start').
        Kind of a cruddy way of doing things, but a feature that would let me do
        otherwise is broken on ScrollMagic (pinning elements by using triggerElement
        (and possibly triggerHook).)
        If you could, please let me know if you make any changes to the structure of
        this partial, so I can test. I'll see if I can figure out a less brittle way
        of getting this done.
    -->
    <div class="wave-overlay"></div>
    <div class="wave wave-cta-mid flex-column" id="validation-start">
        <div class="wave-top">
            <img class="mask" src="/img/wave-mask-top.png">
            <img class="line" src="/img/line-a.png">
            <img class="line" src="/img/line-a.png">
        </div>
        <div class="wave-interior flex-column">
            <h4>Let's work together to discover, prototype, and deploy the next big thing for your company. </h4>
            <a id="cta-mid" class="cta-button" href="" onclick="Calendly.showPopupWidget('https://calendly.com/forestgiant');return false;">Let's Chat</a>
        </div>
        <div class="wave-bottom">
            <img class="mask" src="/img/wave-mask-bottom.png">
            <img class="line" src="/img/line-a.png"> 
        </div>
    </div>
</div>