<section class="wave plx-group wave-photo flex-column plx">
    <img class="plx-layer plx-depth4 full-height plx image-lg" src="/img/photos/hero.jpg"/>
    <div class="wave-top plx-group plx">
        <img class="mask" src="/img/wave-mask-top.png"> 
        <img class="line" src="/img/illustrations/line-a-pink.png"/>
        <img class="line plx-layer plx-depth2 plx" src="/img/illustrations/line-a-green.png">
    </div>
    <div class="wave-interior"></div>
    <div class="wave-bottom plx-group plx">
        <img class="mask" src="/img/wave-mask-bottom.png">
        <img class="line plx-layer plx-depth2 plx" src="/img/illustrations/line-a-green.png"> 
        <img class="line" src="/img/illustrations/line-b-pink.png"> 
    </div>
</section>
