<div class="wave wave-cta-end flex-column">
    <div class="wave-top">
        <img class="mask" src="/img/wave-mask-top.png">
        <img class="line" src="/img/line-a.png">
        <img class="line" src="/img/line-a.png">
    </div>
    <div class="wave-interior end-cta flex-row">
        <div>
            <h4>Innovate with Giants.</h4>
            <p>Schedule a 1-on-1 with Chris Wiedmar, VP of Business Development, to discuss how Forest Giant can help your organization.</p>
            <a class="cta-button" href="" onclick="Calendly.showPopupWidget('https://calendly.com/forestgiant');return false;">Let's Chat</a>
        </div>
        <div>
            <p><strong>Chris Wiedmar</strong></p>
            <p>VP of Business Development</p>
        </div>
    </div>
</div>

