<div class="wave wave-process flex-column" id="validation-end">
    <div class="wave-top">
        <img class="mask" src="/img/wave-mask-top.png">
        <img class="line" src="/img/line-a.png">
        <img class="line" src="/img/line-a.png">
    </div>
    <div class="wave-interior">
        <p class="thicc">Our process is human-centered and fueled by over a decade of experience crafting enterprise solutions.</p>
        <!-- <p>Forest Giant's innovation process has been honed through numerous projects ranging from enterprise software to grand IoT installations. Aside from generating ideas, our thorough testing and analysis capabilities enable us to reduce risk by quickly validating ideas and prototypes before they're green-lighted.</p> -->
    </div>
    <div class="wave-bottom">
        <img class="mask" src="/img/wave-mask-bottom.png">
    </div>
</div>