<div id="work-together-wave" class="wave-overlay hero-img parallax_layer parallax_layer--depth4">
    <img src="/img/noiseBG.jpg"/>
    <div class="blue-bg"></div>
</div>
<div class="wave-container" >
    <section class="wave wave-cta-mid flex-column" id="validation-start">
        <div class="wave-top">
            <img class="mask" src="/img/wave-mask-top.png">
            <img class="line" src="/img/illustrations/line-a-pink.png">
            <img class="line" src="/img/illustrations/line-a-yellow.png">
        </div>
        <div class="wave-interior flex-column">
            <h4>Let's work together to discover, prototype, and deploy the next big thing for your company. </h4>
            <a id="cta-mid" class="cta-button" href="" onclick="Calendly.showPopupWidget('https://calendly.com/forestgiant');return false;">Let's Chat</a>
        </div>
        <div class="wave-bottom">
            <img class="mask" src="/img/wave-mask-bottom.png">
            <img class="line" src="/img/illustrations/line-a-green.png"> 
        </div>
    </section>
</div>