.hero-container {
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 4em;
}

.hero-container div:nth-of-type(1){
    text-align: right;
    flex: 1.25 1;
}

.hero-container div:nth-of-type(2){
    min-width: 600px;
    flex: 1 1;

    p {
        width: 80%;
    }
}

#logo {
    width: 550px;
}

@media only screen and (max-width: 1280px) {

    .hero-container {
        margin: 2em 4em;
    }

    .hero-container div:nth-of-type(1){
        text-align: center;
    } 

}

@media only screen and (max-width: 728px) {

    .hero-container div:nth-of-type(2){
        min-width: 300px;

        p {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 580px) {

    #logo {
        width: 78vw;
    }

}