.modal-form, .contact-form {
    width: 100%;
    margin-top: 1em;
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
    width: 100%;

    input, textarea {
        padding: 1em;
        // background: $fggreen;
        border: 1px solid lightgrey;
        width: 80%;
        font-size: 14px;
        color: $fgblack;
    }

    textarea {
        height: 8em;
    }
}

.honey {
    display: none;
}

// Blog Shortcode Version

.hr-top, .hr-bottom {
    border: 3px solid $fgtomato;
}

.hr-top {
    margin-bottom: 50px;
    box-shadow: 0 20px 20px -20px #333;

}

.hr-bottom {
    margin-top: 50px;
}
