#hero {
    display: grid;
    height: 600px;
    width: 100%;
    background: #fff;
    grid-template-columns: 2fr 4fr 1fr 2fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 3fr;

    h1 {
        position: static !important;
        grid-row: 3;
        grid-column: 2 / span 2;
        font-size: 5.5em;
    }

    p {
        position: static !important;
        grid-row: 4;
        grid-column: 2;
        font-size: 1.5em;
        font-weight: 300;
    }

    figure {
        grid-row: 2 / span 2;
        grid-column: 3 / span 3;
    }

    #maze01 {
        width: 90%;
        mix-blend-mode: multiply;
    }

    #maze01:nth-of-type(1) {
        fill: $fggreen;
        left: 800px!important;
        top: -400px!important;
    }

    #maze01:nth-of-type(2) {
        fill: $fggreen;
        left: -860px!important;
        top: -60px!important;
        z-index: -1;
    }
}