// The hero layout is separate from these styles. Go to that specific partial to access.

.maxed-out {
width: 80%;
max-width: 1400px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}