// The hero layout is separate from these styles. Go to that specific partial to access.

.maxed-out {
width: 85%;
max-width: 1400px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 1em;
    background: $fgnavy;

    p {
        font-size: 16px;
        font-weight: 400;
        color: $fgpink;
    }

    a {
        color: $fgpink;
        margin: 0 4px;
    }

    span {
        color: $fggreen;
        margin: 0 4px;
    }

    a:hover {
        color: $fggreen;
    }
}

@media only screen and (max-width: 400px) {

    footer p {
        font-size: 14px;
    }

}