.logofarm {
    margin: 0 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logo {
    flex-basis: 30%;
    background: gold;
    height: 20vw;
    max-height: 200px;
}

#ge {
    background: center / contain no-repeat url("/img/logos/ge.svg");
}

#ups {
    background: center / contain no-repeat url("/img/logos/ups.svg");
}

#irobot {
    background: center / contain no-repeat url("/img/logos/irobot.svg");
}

#realtree {
    background: center / contain no-repeat url("/img/logos/realtree.svg");
}

#brownforman {
    background: center / contain no-repeat url("/img/logos/brown-forman.svg");
}

#atria {
    background: center / contain no-repeat url("/img/logos/atria.svg");
}

#lge {
    background: center / contain no-repeat url("/img/logos/lge.svg");
}

#bigassfans {
    background: center / contain no-repeat url("/img/logos/big-ass.svg");
}

#flyingaxes {
    background: center / contain no-repeat url("/img/logos/flying-axes.svg");
}