// Pure CSS Parallax
.plx-viewport {
  perspective: 1px;  
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.plx-layer {
  position: absolute;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}

.plx-group {
  position: relative; 
  transform-style: preserve-3d;
  z-index: -10;

  img {
    width: 100vw; 
  }
}

.plx-depth1 {
  transform: translateZ(-0.05px) scale(1.05) !important;
  z-index: 10;
}

.plx-depth2 {
  transform: translateZ(-0.125px) scale(1.125) !important;
  z-index: 10;
}

.plx-depth3 {
  transform: translateZ(-0.25px) scale(1.25) !important;
  z-index: 0;
}

.plx-depth4 {
  transform: translateZ(-0.5px) scale(1.5) !important;
  z-index: -10;
}

/* --------------------------------------------
  Utilities
----------------------------------------------- */
.full-height {
  object-fit: cover;
  height: 100%;
}

.absolute {
  position: absolute;
  width: 100vw;
  z-index: -10;
}

.revY {
  transform: rotate(180deg) !important;
  z-index: 10;
}

/* --------------------------------------------
  Page cleanup
----------------------------------------------- */
body,
nav,
header.flex-row,
#transformation,
#product,
#results {
  background: #fff;
}

.wave {
  margin: 0 !important;
}

.mask {
  position: relative;
  z-index: 0 !important;
}

@media(max-width: 768px) {
  .full-height {
    height: 150%;
  }
}