#product {
    width: 100%;
    padding-bottom: 3em;

    h2 {
        max-width: 600px;
        margin-bottom: 1.5em;
    }
}

.product-grid {
    flex-wrap: wrap;

    div {
        flex-basis: 50%;  
        min-width: 300px;
    } 
}

.product-intro {
    margin: 5em 0;

    h2 {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        letter-spacing: 8px;
        font-size: 18px;
        margin: 0 0 2rem 0;
        text-transform: uppercase;
        color: $fgblack;
        line-height: 1.25;
    }
}

.product-text {
    text-align: center;

    h6 {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        letter-spacing: 8px;
        font-size: 18px;
        text-transform: uppercase;
        color: #ED6350; 
    }

    p:nth-of-type(2){
        color: #808080;
    }

    span {
        padding: 0 .25em;
    }

}

.product-img {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        margin: 1em 0;
    }
}

@media only screen and (max-width: 900px) {

    .product-grid div {
        flex-basis: 100%;
        text-align: center;
    }

    .product-text {
        align-items: center;
        margin-bottom: 5em;
    }

    .product-text:last-of-type {
        margin-bottom: 0;
    }

    #product .product-img:nth-of-type(2) {
        display: none;
    }

    .product-grid div:nth-of-type(1){
        order: 1;
    }

    .product-grid div:nth-of-type(2){
        order: 2;
    }

    .product-grid div:nth-of-type(3){
        order: 4;
    }

    .product-grid div:nth-of-type(4){
        order: 3;
        margin-top: -10%;
    }

    .product-grid div:nth-of-type(5){
        order: 5;
    }

    .product-grid div:nth-of-type(6){
        order: 6;
    }

}

@media only screen and (max-width: 600px) {
    .product-intro h2, .product-text h6 {
        font-size: 16px;
    }
}