#results {
    width: 100%;

    h2 {
        max-width: 600px;
        margin-bottom: 1.5em;
    }
}

.results-grid {
    flex-wrap: wrap;

    div {
        flex-basis: 50%;  
        min-width: 300px;
    }
}

.results-text {
    display: flex;
    justify-content: center;

    p {
        width: 75%;
        border-left: 1px solid $fgorange;  
        padding: 0 1em;
        margin: 1em 0;
    }
}

.results-img {
    display: flex;
    justify-content: center;

    svg {
        width: 80%;
        height: 80%;
        margin: 1em 0;
    }
}

.quote {
    padding: 5em 0;
    text-align: center;
}


@media only screen and (max-width: 750px) {

    .results-grid div {
        flex-basis: 100%;
        margin: 1em 0;
        text-align: center;
    }

    .results-text p {
        border: none;
    }

    .results-grid div:nth-of-type(1){
        order: 1;
    }

    .results-grid div:nth-of-type(2){
        order: 2;
    }

    .results-grid div:nth-of-type(3){
        order: 4;
    }

    .results-grid div:nth-of-type(4){
        order: 3;
    }

    .results-grid div:nth-of-type(5){
        order: 5;
    }

    .results-grid div:nth-of-type(6){
        order: 6;
    }

}