#results {
    width: 100%;

    h2 {
        max-width: 700px;
        margin-bottom: 1.5em;
    }
}

.results-grid {
    flex-wrap: wrap;

    div {
        flex-basis: 50%;  
        min-width: 300px;
    }
}

.results-text {
    display: flex;
    justify-content: center;

    p {
        width: 75%;
        border-left: 1px solid $fgorange;  
        padding: 0 1em;
        margin: 1em 0;
    }
}

.results-img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.blob {
    width: 90%;
    height: 90%;
    margin: 1em 0;
    z-index: $top;
}

.circle {
    position: absolute;
    z-index: $bottom;
}

.quote {
    padding: 5em 0;
    text-align: center;
}

#blob1 {

    .circle {
        height: 105%;
    }

    :nth-child(2){
        top: -5%;
        left: -8%;
        width: 90%;
    }

    :nth-child(3){
        @include flipv;
        width: 100%;
        left: 0%;
    }
}

#blob2 {

    :nth-child(2){
        top: -8%;
        left: -10%;
        width: 100%;
    }

    :nth-child(3){
        @include fliphv;
        top: -5%;
        left: 8%;
        width: 100%;
    } 
}

#blob3 {

    .circle {
        width: 90%;
        height: 90%;
    }

    :nth-child(2){
        @include fliph;
        top: 5%;
        left: 2%;
    }

    :nth-child(3){
        @include flipv;
        top: 4%;
        left: 8%;
    }
}


@media only screen and (max-width: 900px) {

    .results-grid div {
        flex-basis: 100%;
        text-align: center;
    }

    .results-grid .results-text {
        margin-bottom: 5em;
    }

    .results-grid .results-text:last-of-type {
        margin-bottom: 0;
    }

    .results-text p {
        border: none;
    }

    .results-grid div:nth-of-type(1){
        order: 1;
    }

    .results-grid div:nth-of-type(2){
        order: 2;
    }

    .results-grid div:nth-of-type(3){
        order: 4;
    }

    .results-grid div:nth-of-type(4){
        order: 3;
    }

    .results-grid div:nth-of-type(5){
        order: 5;
    }

    .results-grid div:nth-of-type(6){
        order: 6;
    }

}

@media only screen and (max-width: 600px) {

    .results-text p {
        width: 100%;
        padding: 0 .25em;
    }
}