.sweep-cta {
    justify-content: space-between;
    background: $fgnavy;
    height: 1000px;
    width: 100%;
    text-align: center;

    div:nth-child(2) {
        width: 80%;
        max-width: 1200px;
    }
}

.cta-button {
    display: inline-block;
    font-family: $gastro;
    font-size: 24px;
    color: $fgnavy;
    background: $fgyellow;
    box-shadow: 0 8px 19px 0 rgba(0,0,0,0.5);
    padding: 1em 2.5em;
    margin: 1em 0;
    text-decoration: none;
}

.end-cta {
    justify-content: space-between;

    p {
        color: white;
    }

    div:first-child {
        flex: 1.25;
        text-align: left;
        margin-right: 2em;

    }

    div:last-child {
        flex: 1;
        align-self: flex-end;
        
        p {
            font-size: 20px;
        }
    }
}

.process {
    background-color: lightgrey;
    height: 800px;

    div:nth-child(2) {
        width: 80%;
        max-width: 1400px;

        p:first-child {
            font-family: $gastro;
            font-size: 40px;
            color: $fgnavy;
            margin-bottom: 40px;
            width: 60%;
        }

        p:last-child {
            width: 55%;
        }
    }
}