h1, h2, h3, h4, h5, h6 {
    font-family: $gastro;
    color: $fgnavy;
    padding: .25em 0;
}

h1 {
    font-size: 88px;
    line-height: 1;
}

h2 {
    font-size: 50px;
}

h3 {
    font-family: $open;
    font-weight: 700;
    font-size: 26px;
}

h4, .thicc {
    font-family: $gastro;
    font-size: 56px;
    color: $fgtomato;
    line-height: 1.15;
}

p {
    font-family: $source;
    font-weight: 200;
    font-size: 20px;
    color: $fgblack;
    line-height: 1.4;
}

.biggie {
    font-size: 24px;
    padding: .25em 0;
}

.thicc {
    color: $fgnavy;
}

strong {
    font-weight: 700;
}

.quote {

    blockquote {
        font-family: $source;
        color: $fgblack;
        font-size: 40px;
        font-style: italic;
        font-weight: 200;
        margin-bottom: .5em;
        line-height: 1.15;
        max-width: 850px;
    }

    blockquote:before, blockquote:after {
        display: block;
        font-family: $gastro;
        color: $fggrey;
        font-size: 2.5em;
        z-index: -10;
    }

    blockquote:before {
        content: "\201C";
        margin-bottom: -40px;
    }

    blockquote:after {
        content: "\201D";
        margin-top: 30px;
        margin-bottom: -40px;
    }

    p {
        color: $fgnavy;
        font-family: $open;
        font-size: 20px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width:815px) {

    h2 {
        font-size: 40px;
    }

    .thicc {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 415px) {

    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 35px;
    }

    h4, .thicc {
        font-size: 40px;
    }

    p, .biggie {
        font-size: 1.25em;
    }

    blockquote p  {
        font-size: .5em;
    }

}