h1, h2, h3, h4, h5, h6, .product-title {
    font-family: $gastro;
    color: $fgnavy;
    padding: .25em 0;

    a {
        color: $fgnavy;
        text-decoration: none;
    }
}

h1 {
    font-size: 88px;
    line-height: 1;
}

h2 {
    font-size: 50px;
}

h3 {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 26px;
}

h4, .thicc {
    font-family: $gastro;
    font-size: 56px;
    color: $fgpink;
    line-height: 1.15;
}

p {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-size: 20px;
    color: $fgblack;
    line-height: 1.4;
}

em {
    font-style: italic;
}

// a {
//     color: $fgorange;
//     text-decoration: none;
// }

// a:hover {
//     color: $fggreen;
// }

.biggie {
    font-size: 26px;
}

.thicc {
    color: $fgorange;
    font-size: 56px;
}

.product-title {
    font-size: 70px;
    line-height: 1.1;
}

.prodp {
    font-size: 40px;
    font-family: $gastro;
    margin: .5em 0 .25em 0;
    color: $fgnavy;
    max-width: 560px;
    line-height: 1.2;
}

strong {
    font-weight: 600;
}

.quote {

    blockquote {
        font-family: 'Source Sans Pro';
        color: $fgblack;
        font-size: 40px;
        font-style: italic;
        font-weight: 200;
        margin-bottom: .5em;
        line-height: 1.15;
        max-width: 850px;
    }

    blockquote:before, blockquote:after {
        display: block;
        font-family: $gastro;
        color: $fggrey;
        font-size: 2.5em;
        z-index: -10;
        font-style: normal;
    }

    blockquote:before {
        content: "\201C";
        margin-bottom: -40px;
    }

    blockquote:after {
        content: "\201D";
        margin-top: 30px;
        margin-bottom: -40px;
    }

    p {
        color: $fgnavy;
        font-family: 'Source Sans Pro';
        font-size: 20px;
        text-transform: uppercase;
    }
}

ol, ul {
    list-style: inside;
    padding-bottom: 1em;
    padding-left: 2em;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-size: 18px;
    color: $fgblack;
    line-height: 1.4;
}

li a, blockquote a {
    color: $fgorange;
    text-decoration: none;
}


@media only screen and (max-width:1200px) {

    .biggie {
        font-size: 24px;
    }
}

@media only screen and (max-width:815px) {

    h1, .product-title {
        font-size: 58px;
    }

    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 36px;
    }

    .thicc, .prodp {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 415px) {

    h1, .product-title {
        font-size: 46px;
    }

    h2 {
        font-size: 35px;
    }

    h4, .thicc, .prodp {
        font-size: 24px;
    }

    p, .biggie {
        font-size: 1.25em;
    }

}