// Variables
$gastro: 'gastromond', sans-serif;
$source: 'Souce Sans Pro', sans-serif;
$fgorange: #DF6C58;
$fgtomato: #FC5847;
$fgnavy: #263963;
$fggreen: #50AA7B;
$fgyellow: #E6AF21;
$fgpink: #ECAFB5;
$fgblack: #343434;
$fggrey: #F2F2F2;
$filterwhite: hue-rotate(-74deg) brightness(300%) saturate(0%) contrast(100%);
$top: 10;
$middle: 5;
$bottom: 0;
