// Variables
$gastro: 'gastromond', sans-serif;
$source: 'Souce Sans Pro', sans-serif;
$fgorange: #DF6C58; //rgb(223,108,88)
$fgtomato: #FC5847; //rgb(252,88,71)
$fgnavy: #263963; //rgb(38,57,99)
$fggreen: #50AA7B; //rgb(80,170,123)
$fgyellow: #E6AF21; //rgb(230,175,33)
$fgpink: #ECAFB5; //rgb(236,175,181)
$fgblack: #343434; //rgb(52,52,52)
$fggrey: #F2F2F2;
$filterwhite: hue-rotate(-74deg) brightness(300%) saturate(0%) contrast(100%);
$top: 10;
$middle: 5;
$bottom: 0;
$deep: -10;
