// Universal Wave Styles
.wave {
    width: 100%;
    justify-content: space-between;
    margin: 4em 0;
}

.wave-cap {
    width: 100%;
    justify-content: space-between;
    margin-top: 4em;
}

.wave-top, .wave-bottom {
    position: relative;
    display: flex;
    width: 100%;
}

.line, .mask {
    width: 100%;
    height: 10vw;
}

.line {
    position: absolute;
}

.mask {
    filter: $filterwhite;
    z-index: $middle;
}

.wave-photo {
    background: center / cover no-repeat url("/img/photos/hero.jpg");

    .wave-top {
        :nth-child(2){
            filter: $filterpink;
            @include fliphv;
            z-index: $bottom;
        }
        :nth-child(3){
            filter: $filtergreen;
            z-index: $top;
        }
    }

    .wave-interior {
        height: 35vw;
        min-height: 250px;
    }

    .wave-bottom {

        :nth-child(2){
            filter: $filtergreen;
            @include fliph;
            z-index: $bottom;
        }
        :nth-child(3){
            filter: $filterpink;
            z-index: $top;
            // top: -30px;
        }
    }
}

.wave-container {
    background-color: $fgnavy;
    position: relative;
}

.wave-overlay {
    position: absolute;
    background-image: url('/img/noiseBG.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    filter: $filterblue;
    width: 100%;
    height: 100%;
    z-index: $bottom;
}

.wave-cta-mid {

    .wave-top {
        :nth-child(1){
            @include fliph;
        }

        :nth-child(2){
            filter: $filterpink;
            z-index: $top;
            @include fliph;
        }

        :nth-child(3){
            filter: $filteryellow;
            z-index: $bottom;
            @include fliphv;
        }
    }  

    .wave-interior {
        max-width: 950px;
        padding: 7em 2em 5em 2em;
        text-align: center;
        z-index: $top;
        }

    .wave-bottom {
        :nth-child(2){
           filter: $filtergreen;
           @include fliph;
        }
    }
}

.wave-process {
    position: relative;
    background: center / cover no-repeat url("/img/photos/process.jpg");

    .wave-top {
        :nth-child(2){
            filter: $filterpink;
            z-index: $top;
            @include fliph;
        }
        :nth-child(3){
            filter: $filterblue;
            z-index: $bottom;
            @include flipv;
        }
    }
    .wave-interior {
        padding: 10em 5em;
        align-self: center;
        text-align: center;
        z-index: $top;

        :nth-child(1) {
            margin-bottom: .5em;
            max-width: 1200px;
        }

        :nth-child(2) {
            color: white;
            align-self: flex-start;
            max-width: 750px;
        }
    }
}

// END CTA SECTION

.wave-cta-end {
    background: $fgnavy;

    .wave-top {
        :nth-child(1){
            // @include fliph;
        }

        :nth-child(2){
            filter: $filtergreen;
            z-index: $top;
        }

        :nth-child(3){
            filter: $filteryellow;
            z-index: $bottom;
            @include flipv;
        }
    }  

    .wave-interior {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5em 2em;
        width: 80%;
        max-width: 1200px;

        p {
            color: white;
        }


        div:first-child {
            flex: 1.25;
            text-align: left;
            min-width: 380px;
        }

        div:last-child {
            flex: 1;
            text-align: center;
            padding: 0 2em;
            
            p {
                font-size: 18px;
            }
        }
    
        svg {
            width: 225px;
            height: 225px;
        }
    }
}


.cta-button {
    display: inline-block;
    font-family: $gastro;
    font-size: 24px;
    color: $fgnavy;
    background: $fgyellow;
    box-shadow: 0 8px 19px 0 rgba(0,0,0,0.5);
    padding: 1em 2.5em;
    margin: 1.5em 0;
    text-decoration: none;
    transition: background-color 0.25s ease;
}

.cta-button:hover {
    background: $fggreen;
}


@media only screen and (max-width: 836px) {
    .wave-cta-end .wave-interior div:first-child {
        text-align: center;
        min-width: 100%;
    }

    .wave-process .wave-interior {
        :nth-child(1), :nth-child(2) {
            max-width:100%;
        }
    }
}

@media only screen and (max-width: 750px){
    .wave-process .wave-interior {
        padding: 8em 4em;
    }
}

@media only screen and (max-width: 415px) {

    .wave-process .wave-interior {
        margin: 0;
        padding: 5em 2em;

        :nth-child(1), :nth-child(2){
            width: 100%;
        }
    }

    .cta-button {
        font-size: 20px;
    }
}