<div class="modal-content">
    <hr class="hr-top">
    <h2 class="serif-heading">{{ if .Get "title" }}{{ .Get "title" }}{{ else }}Innovate with giants.{{ end }}</h2>
    <p>{{ if .Get "text" }}{{ .Get "text" }}{{ else }}Drop your email below for additional information + case studies.{{ end }}</p>
    <form class="modal-form flex-column" id="cta-modal" action="/thank-you" netlify-honeypot="honey" name="cta-modal" method="POST" netlify>
        <div class="form-row">
            <input type="email" id="email" placeholder="EMAIL ADDRESS" name="user_email" required>
        </div>
        <div class="form-row honey">
            <label for="honey">Don't fill this out if you're human</label>
            <input type="text" id="honey" name="honey"/>
        </div>
        <button type="submit" class="btn modal-button">Submit</button>
    </form>
    <hr class="hr-bottom">
</div>
