{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<section class="thanks flex-column">
    <h1>Thank you!</h1>
    <p class="biggie">We'll send more information soon. In the meantime, check out our work! </p>
    <a class="btn" href="/docs/fg-innovation-2019.pdf">View Case Studies</a>
    <!-- <a class="btn download-btn" href="https://view.attach.io/B1xLvwnUN">View Case Studies</a> -->
</section>

<!-- <section class="more-thanks flex-column">
    <h2>More from Forest Giant</h2>
    <div class="more-items flex-row">
        <a href=""><div></div></a>
        <a href=""><div></div></a>
    </div>
</section> -->

{{ partial "footer.html" . }}
